

<div class="container">
      <div class="row">
            <div class="text-right col-md-6">
                  <div class="display-4">VLOGLYFE</div></div>
                  <div class="col-md-3 container-fluid">
                        <form class="text-center fil form-group form-inline">
                              <input class="text-center form-control" type="search" placeholder="Search Vlogs" aria-label="Search"></form></div>
                              <div class="col-md-3 container-fluid"><nav class="navbar-light">
                                    <form class="text-center form-inline">
                                          <button class="justify-content-center text-center btn btn-block btn-outline-success my-2 my-sm-0" type="submit">Search Vlogs</button>
                                    </form>
                              </nav>
                        </div></div></div>
                        <hr>
                        <div class="row">
                              <div class="text-left col-3">
                                    <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                          <label class="form-check-label" for="inlineRadio1">Events</label>
                                    </div><br>
                                    <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                          <label class="form-check-label" for="inlineRadio2">Education</label>
                                    </div><br>
                              </div>
                              <div class="text-left col-3">
                                    <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                          <label class="form-check-label" for="inlineRadio3">Item Review</label>
                                    </div><br>

                                    <div class="form-check form-check-inline">
                                          <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                          <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
                                    </div><br>
                              </div>
                              <div class="text-left col-3">
                                    <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                                    <label class="form-check-label" for="inlineRadio5">Outdoors</label><br>
                                    <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
                                    <label class="form-check-label" for="inlineRadio6">Family</label><br>
                              </div>
                              <div class="text-left col-3">
                                    <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
                                    <label class="form-check-label" for="inlineRadio7">Fitness</label><br>
                                    <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
                                    <label class="form-check-label" for="inlineRadio8">Dining</label><br>
                              </div>
                        </div>

                        <hr>
                        <br> 
                        <div class="card text-center">
                              <div class="card-header"><div class="display-4">VLOGGERS</div><nav class="navbar navbar-light bg-light">
                              </nav></div>
                              <div class="card-body">
                                    <div routerLink="/community/vloggerpages" class="card-group">
                                          <div class="card">
                                                <img class="card-img-top" src="../../../images/LSE3.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                      <h3 class="card-title">~VLOGGER</h3>
                                                      <p class="card-text">VLOGGER descriptition.  The most traveled, beloved, interesting vlogger....ever!</p>
                                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <img class="card-img-top" src="../../../images/LSE1.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                      <h5 class="card-title">VLOG ENTRY TITLE</h5>
                                                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <img class="card-img-top" src="../../../images/LSE.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                      <h5 class="card-title">VIDEO IMAGE</h5>
                                                      <p class="card-text">Short description of all the great action in the video.</p>
                                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                </div>
                                          </div>
                                    </div>
                                    <br>
                                    <div class="card-footer text-muted">Click Vlogger to see their page!</div>
                              </div>
                        </div>
                        <br>
                        <br>
                        <div class="card text-center">
                              <div class="card-header">
                                    <b></b>
                              </div>
                              <div class="btn-dark card-body">
                                    <h5 class="card-title">POST YOUR VLOG|LYFE ENTRY!</h5>
                                    <p class="card-text">Share your great experiences ! Vlog them here, watch later, or inspire others to get active!</p>
                                    <a routerLink="/user/:uid/:vid/community/myvlog" class="btn btn-primary">Post Vlog!</a>
                              </div>
                              <div class="card-footer text-muted">"Be a mountain; or lean on one."<p></p><i><small>~ Somali Proverb</small></i></div>
                        </div>

