
<div class="container">

      <h1 class="text-center display-4">CALENDAR</h1>
      <div class="text-muted text-center ">"If you want to go quickly; go alone. <br>If you want to go further; go together.<small><br><i>~ African Proverb</i></small></div>
      <hr>
      <div class="row">

            <div class="col-md-4 card-body">
                  <nav class="navbar-light">
                        <form class="text-center form-inline">
                              <input class="form-control  mr-sm-2" type="search" placeholder="Search Calendar" aria-label="Search">
                        </form>
                  </nav>


            </div>
            <div class="col-md-4 card-body">
                  <button class="text-center btn btn-outline-success my-2 my-sm-0" type="submit">Search Calendar</button>

            </div>


            <div class="col-md-4 card-body">
                  <a routerLink="/user/:uid/resource/calendarpost" class="btn btn-primary">Post Event!</a>

            </div>




      </div>

      <table>
            <tr>

                  <td>
                        <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                              <label class="form-check-label" for="inlineRadio1">Events</label>
                        </div>
                  </td>

                  <td>
                        <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                              <label class="form-check-label" for="inlineRadio2">Education</label>
                        </div>
                  </td>

                  <td>
                        <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                              <label class="form-check-label" for="inlineRadio3">Item Review</label>
                        </div>
                  </td>

                  <td>
                        <div class="form-check form-check-inline">
                              <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                              <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
                        </div>
                  </td>

            </tr>

            <td>
                  <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                  <label class="form-check-label" for="inlineRadio5">Outdoors</label>
            </td>
            <td><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
                  <label class="form-check-label" for="inlineRadio6">Family</label>
            </td>
            <td><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
                  <label class="form-check-label" for="inlineRadio7">Fitness</label>
            </td>
            <td><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
                  <label class="form-check-label" for="inlineRadio8">Dining</label>
            </td>
      </table>
      <hr>




      <div class="card text-center">
            <div class="card-header">
                  <h3>EVENT NAME</h3><h5> & DATE</h5>
            </div>
            <div class="card-body">


                  <div class="container">


                        <div class="row">

                              <div class="col-md-3 container-fluid">
                                    <img width="150" src="../../../images/artist.jpg">
                              </div>	
                              <br>
                              <div class="col-md-9">
                                    <nav id="navbar-example2" class="navbar navbar-light bg-light">
                                          <a class="navbar-brand" href="#">Event Info</a>
                                          <ul class="nav nav-pills">
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#fat">Date & Time</a>
                                                </li>
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#mdo">Details</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Info</a>
                                                      <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#one">web</a>
                                                            <a class="dropdown-item" href="#two">email</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#three">phone</a>
                                                      </div>
                                                </li>
                                          </ul>
                                    </nav>
                                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                          <h5 id="fat">Date & Time</h5>
                                          <p>...</p>
                                          <h5 id="mdo">Details</h5>
                                          <p>...</p>
                                          <h5 id="one">web</h5>
                                          <p>...</p>
                                          <h5 id="two">email</h5>
                                          <p>...</p>
                                          <h5 id="three">phone</h5>
                                          <p>...</p>
                                    </div>

                              </div>

                        </div>



                  </div>
            </div>

      </div>


      <div class="card-footer text-muted"></div>
      <br>

      <div class="card text-center">
            <div class="card-header">
                  <h3>EVENT NAME</h3><h5> & DATE</h5>
            </div>
            <div class="card-body">


                  <div class="container">


                        <div class="row">

                              <div class="col-md-3 container-fluid">
                                    <img width="150" src="../../../images/ballerina.jpg">
                              </div>	
                              <br>
                              <div class="col-md-9">
                                    <nav id="navbar-example2" class="navbar navbar-light bg-light">
                                          <a class="navbar-brand" href="#">Event Info</a>
                                          <ul class="nav nav-pills">
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#fat">Date & Time</a>
                                                </li>
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#mdo">Details</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Info</a>
                                                      <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#one">web</a>
                                                            <a class="dropdown-item" href="#two">email</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#three">phone</a>
                                                      </div>
                                                </li>
                                          </ul>
                                    </nav>
                                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                          <h5 id="fat">Date & Time</h5>
                                          <p>...</p>
                                          <h5 id="mdo">Details</h5>
                                          <p>...</p>
                                          <h5 id="one">web</h5>
                                          <p>...</p>
                                          <h5 id="two">email</h5>
                                          <p>...</p>
                                          <h5 id="three">phone</h5>
                                          <p>...</p>
                                    </div>

                              </div>

                        </div>



                  </div>
            </div>

      </div>


      <div class="card-footer text-muted"></div>

      <br>

      <div class="card text-center">
            <div class="card-header">
                  <h3>EVENT NAME</h3><h5> & DATE</h5>
            </div>
            <div class="card-body">


                  <div class="container">


                        <div class="row">

                              <div class="col-md-3 container-fluid">
                                    <img width="150" src="../../../images/Agency.jpg">
                              </div>	
                              <br>
                              <div class="col-md-9">
                                    <nav id="navbar-example2" class="navbar navbar-light bg-light">
                                          <a class="navbar-brand" href="#">Event Info</a>
                                          <ul class="nav nav-pills">
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#fat">Date & Time</a>
                                                </li>
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#mdo">Details</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Info</a>
                                                      <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#one">web</a>
                                                            <a class="dropdown-item" href="#two">email</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#three">phone</a>
                                                      </div>
                                                </li>
                                          </ul>
                                    </nav>
                                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                          <h5 id="fat">Date & Time</h5>
                                          <p>...</p>
                                          <h5 id="mdo">Details</h5>
                                          <p>...</p>
                                          <h5 id="one">web</h5>
                                          <p>...</p>
                                          <h5 id="two">email</h5>
                                          <p>...</p>
                                          <h5 id="three">phone</h5>
                                          <p>...</p>
                                    </div>

                              </div>

                        </div>



                  </div>
            </div>

      </div>


      <div class="card-footer text-muted"></div>

      <br>

      <div class="card text-center">
            <div class="card-header">
                  <h3>EVENT NAME</h3><h5> & DATE</h5>
            </div>
            <div class="card-body">


                  <div class="container">


                        <div class="row">

                              <div class="col-md-3 container-fluid">
                                    <img width="150" src="../../../images/LSE2.jpg">
                              </div>	
                              <br>
                              <div class="col-md-9">
                                    <nav id="navbar-example2" class="navbar navbar-light bg-light">
                                          <a class="navbar-brand" href="#">Event Info</a>
                                          <ul class="nav nav-pills">
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#fat">Date & Time</a>
                                                </li>
                                                <li class="nav-item">
                                                      <a class="nav-link" href="#mdo">Details</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Info</a>
                                                      <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#one">web</a>
                                                            <a class="dropdown-item" href="#two">email</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#three">phone</a>
                                                      </div>
                                                </li>
                                          </ul>
                                    </nav>
                                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                          <h5 id="fat">Date & Time</h5>
                                          <p>...</p>
                                          <h5 id="mdo">Details</h5>
                                          <p>...</p>
                                          <h5 id="one">web</h5>
                                          <p>...</p>
                                          <h5 id="two">email</h5>
                                          <p>...</p>
                                          <h5 id="three">phone</h5>
                                          <p>...</p>
                                    </div>

                              </div>

                        </div>



                  </div>
            </div>

      </div>


      <div class="card-footer text-muted"></div>




</div>



