
<div class="container">
     <h1 class="text-center display-4">CALENDAR</h1>
     <div class="text-muted text-center ">"If you want to go quickly; go alone. <br>If you want to go further; go together.<small><br><i>~ African Proverb </i></small></div>
     <hr>
     <div class="row">
          <div class="text-left col-md-3">
               <div class="form-check form-check-inline">
                    <input (input)="reorder('events')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Events</label>
               </div><br>
               <div class="form-check form-check-inline">
                    <input (input)="reorder('education')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Education</label>
               </div><br>
          </div>
          <div class="text-left col-md-3">
               <div class="form-check form-check-inline">
                    <input (input)="reorder('itemReview')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Item Review</label>
               </div><br>
               <div class="form-check form-check-inline">
                    <input (input)="reorder('smallBizz')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
               </div><br>
          </div>
          <div class="text-left col-md-3">
               <input (input)="reorder('outdoors')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
               <label class="form-check-label" for="inlineRadio5">Outdoors</label><br>
               <input (input)="reorder('family')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
               <label class="form-check-label" for="inlineRadio6">Family</label><br>
          </div>
          <div class="text-left col-md-3">
               <input (input)="reorder('fitness')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
               <label class="form-check-label" for="inlineRadio7">Fitness</label><br>
               <input (input)="reorder('dining')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
               <label class="form-check-label" for="inlineRadio8">Dining</label><br>
          </div>
     </div>
     <hr>
          <div class="row">
          <div class="card-body">
               <nav class="navbar-light">
                       <input class="form-control mr-sm-2" type="text" name="calendarSearch"  placeholder="Search Calendar" [(ngModel)]="calendarSearch" aria-label="Search">
               </nav>
          </div>
     </div>
     <div *ngFor="let calendarPost of calendarPosts" class="card text-center">
          <div *ngIf="(
                              calendarPost.calPostDescription + 
                              calendarPost.calPostLocation + 
                              calendarPost.calPostEventName +
                              calendarPost.calPostDate + 
                              calendarPost.calPostEmail + 
                              calendarPost.calPostWebsite).toUpperCase().includes(this.calendarSearch.toUpperCase())">
          <div class="card-header">
               <div class="row text-left">
                    <div class="col-10"><h3>{{calendarPost.calPostEventName}}</h3></div>
                    <div class="col-2"><h3><i>{{calendarPost.calPostDate}}</i></h3></div>
               </div>
          </div>
          <div class="card-body container">
               <div class="bg-light row">
                    <div class="col-md-3 ">
                         <img alt="calendarPost" [src]="calendarPost.calPostImageOne" width="100">
                    </div>	
                    <div class="col-md-7 text-left">
                              <a class="navbar-brand white-space-nowrap" >{{calendarPost.calPostDescription}}</a>
                    </div>
                    <div class="col-md-2 text-right">
                              <div><a data-toggle="collapse" [attr.data-target]="'.' + calendarPost._id" aria-expanded="false" aria-controls="collapseExample">Details</a></div>
                    </div>
               </div>
               <div class="row collapse text-white bg-secondary {{calendarPost._id}}">
                    
                    <div class="col-3">
                         <img alt="calendarPost" [src]="calendarPost.calPostImageTwo" width="100">         
                    </div>
                    <div class="col-9">
                         <div class="row text-yellow">
                              <div class="col-2">Location</div>
                              <div class="col-2">Time</div>
                              <div class="col-2">Email</div>

                              <div class="col-2">Duration</div>
                              <div class="col-2">Contact</div>
                              <div class="col-2">Website</div>
                         </div>  
                         <div class="row">
                              <div class="col-2">{{calendarPost.calPostLocation}}</div>
                              <div class="col-2">{{calendarPost.calPostTime}}</div>
                              <div class="col-2">{{calendarPost.calPostEmail}}</div>

                              <div class="col-2">{{calendarPost.calPostDuration}}</div>
                              <div class="col-2">{{calendarPost.calPostPhone}}</div>
                              <div class="col-2">{{calendarPost.calPostWebsite}}</div>
                         </div>  
                         <hr>
                         <div class="row text-yellow">
                              <div class="col-12">
                                   <span *ngIf="calendarPost.artEventsFunCal">Fun   | </span>
                                   <span *ngIf="calendarPost.educationCal">Education   | </span>
                                   <span *ngIf="calendarPost.ItemReviewCal">Items Review   | </span>
                                   <span *ngIf="calendarPost.smallBizzCal">Small Bizz   | </span>
                                   <span *ngIf="calendarPost.outdoorsCal">Outdoors   | </span>
                                   <span *ngIf="calendarPost.familyCal">Family   | </span>
                                   <span *ngIf="calendarPost.fitnessCal">Fitness   | </span>
                                   <span *ngIf="calendarPost.diningCal">Dining   | </span>
                                   <br>
                              </div>
                         </div>  
                    </div>
               </div>
         </div>
      </div>
     </div><p>efwef</p>
     <div class="card-footer text-muted"></div>
     <br>
      <div class="card text-center">
          <div class="card-header">
               <div class="btn-dark card-body">
                    <h5 class="card-title">POST YOUR EVENT!</h5>
                     <P>Share your events! let Boston know what your doing, make LightSpeed part of your marketing team!</P>
                          <a (click)="runCalendarPost()" class="btn btn-primary">Post Event!</a>
                    
          
     </div>



</div>



