
<div class="container negmarg">
<hr>
		<div class="row"></div>
		<br>
		<div class="col-md-12">
			<div class="display-4 text-center text-muted">ARAFAT AKBAR</div>
			<div class="col-md-12"><H4 style="color:green;" class="text-center">LIVE RESUME</H4></div><br>
			<hr>		
		</div>
		<br> 
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-3">	
					<img src="../../../images/0.jpg" alt="Avatar" width="auto" class="responsive">
				</div>
				<br>
				<div class="col-md-3 textwrap">
					<p class="text-secondary">
					<strong>ARAFAT AKBAR</strong></p>
					<hr>
					<p class="text-success">
					Junior Web Developer.
					<br>Project Coordinator.
					<br>Event Planner.
					<br>Artrepreneur.
					</p>
				</div>
				<div class="col-md-3">	
				</div>
		</div>
		<hr>
			
		</div>
		<div class="row">
			<div class="col-md-12">	
				<div class="col-3"><p><strong>SKILLS OVERVIEW:</strong></p></div>
				<div class="col-3"></div>
				<div class="col-3"></div>
				<div class="col-3"></div>
			</div>
		</div>
		<div class="row">
				<div class="col-md-12">	
				<div class="text-secondary row">
					<div class="col-md-3"><p><strong></strong></p></div>
					<div class="col-md-3"><i><small><strong>DATES</strong></small></i></div>
					<div class="col-md-3"><i><small><strong>SCHOOL</strong></small></i></div>
					<div class="col-md-3"><i><small><strong>FOCUS</strong></small></i></div>
				</div>
			</div>
			
		</div>
		<div class="row">
				<div class="col-md-12">	
				<div class="row">
					<div class="col-md-3"><p><strong>EDUCATION OVERVIEW:</strong></p></div>
					<div class="col-md-3">04/2018 – 09/2018<br>09/2003</div>
					<div class="col-md-3">MSIMBO CODING ACADEMY<br>ROXBURY COMMUNITY COLLEGE</div>
					<div class="col-md-3">MEAN Stack programming<br>Business Administration</div>
				</div>
				
				</div>
		</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<button class="container-fluid btn btn-danger" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#mission" aria-expanded="false" aria-controls="collapseExample">
			WEB DEVELOPMENT
			</button>
		</div>
		<br>
		<div class="col-md-3">	
			<button class="container-fluid btn btn-secondary" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#legacy" aria-expanded="false" aria-controls="collapseExample1">PROJECT COORDINATION
			</button>
		</div>
		<br>
		<div class="col-md-3">
			<button class="container-fluid btn btn-success" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#arafat" aria-expanded="false" aria-controls="collapseExampl">EVENT PLANNING
			</button>
		</div>
	</div>
	<br>
		<div class="collapse" id="mission">
			<div class="card card-body">
				<div class="btn btn-danger container container-fluid"> 
					<h5  class="display-4" align="left" >WEB DEVELOPMENT</h5>
					<hr>
					<p>EXPERIENCE</p><br>
					<hr>
					Wheelock College - web maintenance for the Field Experience Office
					Harvard Friend Lab - Website maintenance for chemical science labs
					LightSpeed Entertainment - frequent website production and launch for event registration.
					<p>EDUCATION</p><br>
					<hr>
					<p>04/2018 – 09/2018
					web development and computer coding, urban League of eastern ma
					Course covers coding skills for web development which includes: HTML, CSS, JavaScript, MEAN Stack programming.
					</p>
					<hr>

					<hr>
					<p>SKILLS</p><br>
					<hr>
					<p>LINKS</p>
					<a type="url"><p><small>Live Resume: arafatakbar.com</small></p></a>
					<br>
					</div>
					</div>
					<br><br>
					</div>
					</div>








<div class="container">
<div class="collapse" id="legacy">
<div class="card card-body"> 
<!-- BUSINESS SECTION -->
<div class="btn btn-secondary container container-fluid"> 
<h5  class="display-4" align="center" >PROJECT COORDINATION</h5>

<hr>
<p>EXPERIENCE</p><br>

	<hr>
<p>EDUCATION</p><br>
<hr>
<p>04/2018 – 09/2018
web development and computer coding, urban League of eastern ma
Course covers coding skills for web development which includes: HTML, CSS, JavaScript, MEAN Stack programming.

09/2003
business administration, roxbury community college</p>
<hr>

<hr>
<p>SKILLS</p><br>

</div>
</div>
<br><br>
</div>
</div> 

<!-- ARTIST SECTION -->
<div class="container">
<div class="collapse" id="arafat">
<div class="card card-body">
<div class="btn btn-success container container-fluid"> 
<h5  class="display-4" align="right" >EVENT PLANNING</h5>



<hr>
<p>EXPERIENCE</p><br>

<hr>
<p>EDUCATION</p><br>
<hr>
<p>04/2018 – 09/2018
web development and computer coding, urban League of eastern ma
Course covers coding skills for web development which includes: HTML, CSS, JavaScript, MEAN Stack programming.

09/2003
business administration, roxbury community college</p>
<hr>
<p>SKILLS</p><br>
<hr>
<p>LINKS</p>
<a type="url"><p><small>Live Resume: arafatakbar.com</small></p></a>
<br>

</div>
</div>
<br><br>
</div>




</div>
		 


<!-- 						 <p>
		 
Arafat akbar
11 Radford Lane Boston, MA 02124· 617-602-7172
Arafatakbar83@gmail.com

Demonstrated office coordinator with extensive experience in clerical operations, administration, service-oriented delivery and professional planning in addition to knowledge of web developing and graphic design.


05/2000 – Present (Contracted)
concept designer, bonner enterprises
Manage databases for 501(c)3 client organizations. Providing executive assistance to president for major events and fundraising campaigns. Design graphics, presentations and documents for major events & campaigns. Prioritize execution of agency objectives, updated calendars, organized meetings, ordered supplies, trained & supervised new hires and interns

07/2007 – 06/2014
adminstrative coordinator, wheelock college – Office of field placement
Primary administrator; designed database and storage systems for over 800 students and more than 200 field placements per semester.  Coordinated Wheelock’s signature program linking students to over one hundred agencies per semester.  Worked as liaison connecting parents, students and faculty to field experiences in Greater Boston, integral role in the 2014 strategic planning and hiring of several personnel.

0/2016 – 07/2017
interim office manager, gallery eyecare
Trained and supervised eight staff on complex correspondence, services and customer relations.  Managed and processed confidential client medical data with strict adherence to HIPAA laws.  Interfaced with over eighty partners/contractors to maintain office, replenish work tools and order products.  Maintained and revised data intake as needed for offices with a client base of more than 2,000 patients. Facilitated daily operations, processed mail, coordinated meetings, interviews, pay and scheduling.

Education

04/2018 – 09/2018
web development and computer coding, urban League of eastern ma
Course covers coding skills for web development which includes: HTML, CSS, JavaScript, MEAN Stack programming.

09/2003
business administration, roxbury community college

Skills

Organizational skills and attention to detail
Time Management and Prioritizing

Advanced technical skills and computer knowledge
Leadership and conflict resolution skills
Various office soft skills




		 </p> -->