
<div class="container">



<div class="card text-center">
      <img id="LSE" src="../../../images/LSE2.jpg">
      <div class="btn-dark card-body">
  

<div class="container">



<div class="panel panel-default">
  <div style="font-size:  100%" class="panel-body">
<h4><small>Service Inquiry</small> LIGHTSPEED</h4>
  


<div class="row">
	
<div class="text-left col-3">
	<label class="form-check-label" for="inlineRadio5">WEB DESIGN |</label><br>

	<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
  	<label class="form-check-label" for="inlineRadio6">Maintenance</label><br>

	<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
	<label class="form-check-label" for="inlineRadio7">Design</label><br>

	<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
  	<label class="form-check-label" for="inlineRadio8">Consulting</label><br>


</div>

<div class="text-left col-3">
		  <label class="form-check-label" for="inlineRadio5">GRAPHIC DESIGN |</label><br>
	
	  <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
  <label class="form-check-label" for="inlineRadio6">Logo</label><br>

<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
  <label class="form-check-label" for="inlineRadio7">Flyer</label><br>
<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
  <label class="form-check-label" for="inlineRadio8">Templates</label><br>


</div>

<div class="text-left col-3">
		   <label class="form-check-label" for="inlineRadio5">EVENT SERVICES |</label><br>

		   <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
		  <label class="form-check-label" for="inlineRadio6">Coordination</label><br>
		
		  <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
		  <label class="form-check-label" for="inlineRadio7">Assistance</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
		  <label class="form-check-label" for="inlineRadio8">Consulting</label><br>
		</div>

<div class="text-left col-3">
		    <label class="form-check-label" for="inlineRadio5">ART SERVICES |</label><br>

		    		   <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
		  <label class="form-check-label" for="inlineRadio6">ArtServe</label><br>
		
		  <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
		  <label class="form-check-label" for="inlineRadio7">Curation</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
		  <label class="form-check-label" for="inlineRadio8">Advertisement</label><br>
		</div>
	
</div>


</div>


  <br>
<form class="form-group" action="/action_page.php">
	<div class="form-group">
    <input placeholder="Preferred Budget" type="number" class="form-control" id="Preferred Budget">
  	</div>
  	<div class="form-group">
    <input placeholder="Project Title" type="text" class="form-control" id="Project Title">
  	</div>
    <div class="form-group">
    <input placeholder="(Please summarize services you would like or relevant logistics, be as detailed as possible.)" type="textarea" class="form-control" id="Project Description">
  	</div>
	<div class="form-group">
    <input placeholder="Date" type="Date" class="form-control" id="Date">
  	</div>
    <div class="form-group">
    <input placeholder="( _ _ : _ _ am/pm)" type="Time" class="form-control" id="Time">
  	</div>
 	<div class="form-group">
    <input placeholder="Contact 1:" type="text" class="form-control" id="Contact 1:">
  	</div>
	<div class="form-group">
	<input placeholder="Contact 2:" type="text" class="form-control" id="Contact 2:">
	</div>
	<div class="form-group">
	<input placeholder="(area code) - _ _ _ - _ _ _ _" type="number" class="form-control" id="Phone">
	</div>
	<div class="form-group">
    <input placeholder="Email" type="text" class="form-control" id="Emaile">
	</div>
	<div class="form-group">
    <input placeholder="Website" type="text" class="form-control" id="Website">
  	</div>
 






<br>
<h3 class="text-center">Best Time To Contact You:<small> (check all that apply)</small></h3>

<div class="row">
	<div class="text-right col-3">
		<label class="form-check-label" for="inlineRadio11">MON |</label><br>
		<label class="form-check-label" for="inlineRadio12">TUE |</label><br>
		<label class="form-check-label" for="inlineRadio13">WED |</label><br>
		<label class="form-check-label" for="inlineRadio14">THU |</label><br>
		<label class="form-check-label" for="inlineRadio15">FRI |</label><br>
	</div>
	<div class="text-left col-3">
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio11" value="option11">
  		<label class="form-check-label" for="inlineRadio11">10am-1pm</label><br>
  		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio12" value="option12">
  		<label class="form-check-label" for="inlineRadio12">10am-1pm</label><br>
  		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio13" value="option13">
  		<label class="form-check-label" for="inlineRadio13">10am-1pm</label><br>	  
  		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio14" value="option14">
  		<label class="form-check-label" for="inlineRadio14">10am-1pm</label><br>
  		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio15" value="option15">
  		<label class="form-check-label" for="inlineRadio15">10am-1pm</label><br>
	</div>
	<div class="text-left col-3">
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio16" value="option16">
		<label class="form-check-label" for="inlineRadio7">2pm-5pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio17" value="option17">
		<label class="form-check-label" for="inlineRadio7">2pm-5pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio18" value="option18">
		<label class="form-check-label" for="inlineRadio7">2pm-5pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio19" value="option19">
		<label class="form-check-label" for="inlineRadio7">2pm-5pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio20" value="option20">
		<label class="form-check-label" for="inlineRadio7">2pm-5pm</label><br>
	</div>
	<div class="text-left col-3">
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio21" value="option21">
	  	<label class="form-check-label" for="inlineRadio8">6pm-9pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio22" value="option22">
	  	<label class="form-check-label" for="inlineRadio8">6pm-9pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio23" value="option23">
	  	<label class="form-check-label" for="inlineRadio8">6pm-9pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio24" value="option24">
	  	<label class="form-check-label" for="inlineRadio8">6pm-9pm</label><br>
		<input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio25" value="option25">
	  	<label class="form-check-label" for="inlineRadio8">6pm-9pm</label><br>
		</div>
	</div>
<br><br>



  <button type="submit" class="btn btn-success btn-block">Submit</button>
   <button routerLink="/resource/services" class="btn btn-danger btn-block">Cancel</button>
</form>



</div>
  <div class="panel-footer"></div>
</div>
</div>

</div>
      <div class="card-footer text-center text-muted">~ "African Proverb"</div>
  </div>


<br><br>

