
<div class="container">
      <div class="card text-center">
          <img id="LSE" src="../../../images/LSE2.jpg">
          <div class="btn-dark card-body">
            <div class="container">
                  <div class="panel panel-default">
                        <div class="panel-body">
                              <h4><small>POST TO</small> WORD of MOUTH</h4>
                              <div class="text-center row">
                                    <div class="col-sm-3"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                          <label class="form-check-label" for="inlineRadio1">Events</label>
                                    </div></div>
                                    <div class="col-sm-3"><div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                          <label class="form-check-label" for="inlineRadio2">Education</label>
                                    </div></div>
                                    <div class="col-sm-3"> <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                          <label class="form-check-label" for="inlineRadio3">Item Review</label>
                                    </div></div>
                                    <div class="col-sm-3"><div class="form-check form-check-inline">
                                          <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                          <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
                                    </div></div>
                              </div>
                              <div class="row">
                                    <div class="col-sm-3"><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                                      <label class="form-check-label" for="inlineRadio5">Outdoors</label></div>
                                      <div class="col-sm-3"><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
                                          <label class="form-check-label" for="inlineRadio6">Family</label>
                                    </div>
                                    <div class="col-sm-3"><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
                                          <label class="form-check-label" for="inlineRadio7">Fitness</label></div>
                                          <div class="col-sm-3"><input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
                                                <label class="form-check-label" for="inlineRadio8">Dining</label></div>
                                          </div>
                                          <br>
                                          <form class="form-group" action="/action_page.php">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                          <select class="form-control" id="exampleFormControlSelect1">
                                                             <option value="" disabled selected>*Select your option</option>
                                                             <option>Event</option>
                                                             <option>Dining</option>
                                                             <option>Fitness</option>
                                                             <option>Family</option>
                                                             <option>Item</option>
                                                             <option>Small Bizz</option>
                                                             <option>Outdoors</option>
                                                             <option>Education</option>
                                                       </select>
                                                 </div>
                                                 <input placeholder="name of business/event/item" type="name" class="form-control" id="name">
                                           </div>
                                           <div class="form-group">
                                              <input placeholder="description" type="textarea" class="form-control" id="description">
                                        </div>
                                        <div class="form-group">
                                              <input placeholder="location" type="textarea" class="form-control" id="location">
                                        </div>
                                        <div class="form-group">
                                              <input placeholder="date" type="date" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                              <input placeholder="time" type="time" class="form-control" id="email">
                                        </div>
                                        <div class="form-group">
                                              <input placeholder="website" type="URL" class="form-control" id="pwd">
                                        </div>
                                        <div class="checkbox">
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        <button routerLink="/community/bulletin" class="btn btn-danger btn-block">Cancel</button>
                                  </form>
                            </div>
                            <div class="panel-footer"></div>
                      </div>
                </div>
          </div>
          <div class="card-footer text-muted">"He who does not know one thing; knows another"<small><i><br>~ African Proverb</i></small></div>
    </div>
    <br><br>

