
<div class="container">
      <div class="card text-center">
            <img name="LSE" src="../../../images/LSE2.jpg">
            <div class="btn-dark card-body">
                  <div class="container">
                        <div class="panel panel-default">
                              <div class="panel-body">
                                    <h4  class="display-4"><small><i>post </i></small>SHOUT | <i class="yellow-title">OUT!</i></h4>
                                    <div class="align-content-center text-center row ">
                                          <form class="form-control transparentBox" (ngSubmit)="postShoutOut()" #g="ngForm">
                                                <table class="smallTableText">
                                                      <thead> </thead>  
                                                            <td><input type="checkbox" ngModel name="artEventsFunShout" #artEventsFunShout="ngModel">Art/Events/Fun</td>
                                                            <td><input type="checkbox" ngModel name="educationShout" #educationShout="ngModel">Education</td>
                                                            <td><input type="checkbox" ngModel name="itemReviewShout" #itemReviewShout="ngModel">Item Review</td>
                                                      <tr>
                                                            <td><input type="checkbox" ngModel name="smallBizzShout" #smallBizzShout="ngModel">Small Bizz</td>
                                                            <td><input type="checkbox" ngModel name="outdoorsShout" #outdoorsShout="ngModel">Outdoors</td>
                                                            <td><input type="checkbox" ngModel name="familyShout" #familyShout="ngModel">Family</td>           
                                                      </tr>
                                                      <tr> 
                                                            <td><input type="checkbox" ngModel name="fitnessShout" #fitnessShout="ngModel" name="fitnessShout">Fitness</td>
                                                            <td><input type="checkbox" ngModel name="diningShout" #diningShout="ngModel">Dining</td>
                                                      </tr>
                                                </table>  
                                                <br>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.nameShout}}" #nameShout="ngModel" placeholder="name of business/event/item" type="name" class="form-control" name="nameShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.descriptionShout}}" #descriptionShout="ngModel" placeholder="Description" type="textarea" class="form-control" name="descriptionShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.locationShout}}" #locationShout="ngModel" placeholder="Location" type="textarea" class="form-control" name="locationShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.dateShout}}" #dateShout="ngModel" placeholder="Date" type="date" class="form-control" name="dateShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.timeShout}}" #timeShout="ngModel" placeholder="Time" type="time" class="form-control" name="timeShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.websiteShout}}" #websiteShout="ngModel"  placeholder="Website" type="URL" class="form-control" name="websiteShout">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{ShoutOut.shoutOutImage}}" #shoutOutImage="ngModel" class="form-control" placeholder="Image Url"  #url="ngModel" type="text" name="shoutOutImage">
                                                      </div>
                                                      <form ngNoForm action="{{baseUrl}}/api/shoutOut/upload/{{uid}}/{{sid}}" placeholder="upload Image" method="post" enctype="multipart/form-data">
                                                            <div class="input-group mb-3">
                                                                  <input type="file" class="form-control" name="myFile" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                  <div class="input-group-append">
                                                                        <button class="btn btn-secondary" type="submit" (click)="tempSave()">Upload</button>
                                                                  </div>
                                                            </div>
                                                      </form>
                                                      <br>
                                                      <button type="submit" class="btn btn-success btn-block">Submit</button>
                                                      <br>
                                                      <button routerLink="/community/shoutouts" class="btn btn-danger btn-block">Cancel</button>
                                                      <br>
                                          </form>
                                          <div class="panel-footer"></div>
                                    </div>
                              </div>
                              <div class="card-footer text-muted">"He who does not know one thing; knows another"<small><i><br>~ African Proverb</i></small>
                              </div>
                        </div>
                  </div> 
            </div> 
      </div>    
</div>