
<div class="container">
      <div class="card text-center">
            <img name="LSE" src="../../../images/LSE2.jpg">
            <div class="btn-dark card-body">
                  <div class="container">
                        <div class="panel panel-default">
                              <div class="panel-body">
                                    <h4><small>POST TO</small>WORD of MOUTH</h4>
                                    <div class="align-content-center text-center row ">
                                          <form class="form-control transparentBox" (ngSubmit)="postShoutOut()" #g="ngForm">
                                                <table class="smallTableText">
                                                      <thead> </thead>  
                                                            <td><input type="checkbox" ngModel name="artEventsFunShout" #artEventsFunShout="ngModel">Art/Events/Fun</td>
                                                            <td><input type="checkbox" ngModel name="educationShout" #educationShout="ngModel">Education</td>
                                                            <td><input type="checkbox" ngModel name="itemReviewShout" #itemReviewShout="ngModel">Item Review</td>
                                                      <tr>
                                                            <td><input type="checkbox" ngModel name="smallBizzShout" #smallBizzShout="ngModel">Small Bizz</td>
                                                            <td><input type="checkbox" ngModel name="outdoorsShout" #outdoorsShout="ngModel">Outdoors</td>
                                                            <td><input type="checkbox" ngModel name="familyShout" #familyShout="ngModel">Family</td>           
                                                      </tr>
                                                      <tr> 
                                                            <td><input type="checkbox" ngModel name="fitnessShout" #fitnessShout="ngModel" name="fitnessShout">Fitness</td>
                                                            <td><input type="checkbox" ngModel name="diningShout" #diningShout="ngModel">Dining</td>
                                                      </tr>
                                                </table>  
                                                <br>
                                                      <div class="form-group">
                                                            <div class="form-group">
                                                                  <select class="form-control" name="typeShout" ngModel #typeShout="ngModel" >
                                                                        <option value="" disabled selected>*Select your option</option>
                                                                        <option>Event</option>
                                                                        <option>Dining</option>
                                                                        <option>Fitness</option>
                                                                        <option>Family</option>
                                                                        <option>Item</option>
                                                                        <option>Small Bizz</option>
                                                                        <option>Outdoors</option>
                                                                        <option>Education</option>
                                                                  </select>
                                                            </div>
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel #nameShout="ngModel" value="" placeholder="name of business/event/item" type="name" class="form-control" name="name">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{descriptionShout}}" #descriptionShout="ngModel" value="" placeholder="description" type="textarea" class="form-control" name="description">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{locationShout}}" #locationShout="ngModel" value="" placeholder="location" type="textarea" class="form-control" name="location">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{dateShout}}" #dateShout="ngModel" value="" placeholder="date" type="date" class="form-control" name="date">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{timeShout}}" #timeShout="ngModel" value="" placeholder="time" type="time" class="form-control" name="email">
                                                      </div>
                                                      <div class="form-group">
                                                            <input ngModel="{{websiteShout}}" #websiteShout="ngModel" value="" placeholder="website" type="URL" class="form-control" name="website">
                                                      </div>
                                                      <button type="submit" class="btn btn-success btn-block">Submit</button>
                                                      <button routerLink="/community/shoutouts" class="btn btn-danger btn-block">Cancel</button>
                                          </form>
                                          <div class="panel-footer"></div>
                                    </div>
                              </div>
                              <div class="card-footer text-muted">"He who does not know one thing; knows another"<small><i><br>~ African Proverb</i></small>
                              </div>
                        </div>
                  </div> 
            </div> 
      </div>    
</div>