<br>
<div *ngIf="submitSuccess" class="alert alert-success">Update successfully!</div>
<!-- .......................................NON-EDITABLE PROFILE PAGE...................................... -->
<div *ngIf="!editable">
	<div class="container">
		<div class="row">
			<!-- .......................................ARTIST NON-EDITABLE...................................... -->

			<div class="btn btn-danger col-md-4">
				<h5  align="left">*PERSONAL</h5>
				<div class="form-group">{{user.birthday}}</div>		
				<div class="form-group">{{user.email}}</div>
				<div class="form-group">{{user.userName}}</div>
				<hr>
				<h5><small>PERSONAL INTERESTS</small></h5>
				<table class="smallTableText">
					<tr>   
						<td class="oleoScript" *ngIf="user.events">Events</td>
						<td class="oleoScript"  *ngIf="user.education">Education</td>
						<td class="oleoScript"  *ngIf="user.itemReview">Item Review</td>
					</tr>
					<tr>
						<td class="oleoScript"  *ngIf="user.smallBizz">Small Bizz</td>
						<td class="oleoScript"  *ngIf="user.outdoors">Outdoors</td>
						<td class="oleoScript"  *ngIf="user.family">Family</td>				
					</tr>
					<tr> 
						<td class="oleoScript"  *ngIf="user.fitness">Fitness</td>
						<td class="oleoScript"  *ngIf="user.dining">Dining</td>
					</tr>
				</table>	
			</div>
			<div align="center" class="col-md-4">
				
				
				<!-- <img *ngIf="{{user.image}}" class="img-rounded" src="../../../../images/Prof.png" alt="" width="auto"> -->
				<!-- <img class="img-rounded" src="../../../../images/Prof.png" alt="" width="auto"> -->
				<a data-toggle="collapse" data-target="#uploadRevealProfile" aria-expanded="false" aria-controls="uploadRevealProfile"><img class="img-rounded profileUpload" src="{{user.profileImage}}" alt="" width="100%"></a>
				<div class="collapse" id="uploadRevealProfile">
					<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=profileImage" method="post" enctype="multipart/form-data">
                        <div>
                                 <input  name="myFile"   type="file" class="form-control"/>
                                 <br>
                                 <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
                         </div>
                	</form>
					<br>
				</div>	
				<p></p>
				<br>
				<p>"USER STATUS's"</p>
				<hr>
				<br>
				<a (click)="changeEditable()" style="color: white" class="btn-block btn-danger">Edit Profile</a>
				<br>
				<a style="color: white" class="btn-block btn-secondary" data-toggle="collapse" data-target="#collapseExampleNonEditBizz" aria-expanded="false" aria-controls="collapseExampleNonEditBizz">Show/Hide "Bizz"</a>
				<br>
				<a style="color: white" class="btn-block btn-success" data-toggle="collapse" data-target="#collapseExampleNonEditArts" aria-expanded="false" aria-controls="collapseExampleNonEditArts">Show/Hide "Artz"</a>
				<br>
				<a *ngIf="SharedService.user" routerLink="/admin" style="color: white" class="btn-block btn-primary" data-toggle="collapse" data-target="#collapseExampleNonEditBizz" aria-expanded="false" aria-controls="collapseExampleNonEditBizz">Show/Hide "Bizz"</a>
				
				<p></p>
				<p></p>
			</div>
			<div align="center" class="col-md-4 btn-outline-danger border-red">
				<div class="row">
					<div class="container">
						<br><ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">User</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Lyfe</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Acts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="false">Favs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother" role="tab" aria-controls="pills-nother" aria-selected="false">Circle</a>
							</li>
						</ul>

						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><hr>Lorem Ipsum USER is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><hr>Lorem Ipsum INSPIRATIONS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
							</div>
							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><hr>Lorem Ipsum ACTIONS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
							</div>
							<div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab"><hr>Lorem Ipsum FAVS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
							</div>
							<div class="tab-pane fade" id="pills-nother" role="tabpanel" aria-labelledby="pills-nother-tab"><hr>Lorem Ipsum FRIENDS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .......................................BUSINESS NON-EDITABLE...................................... -->
		<div class="collapse" data-toggle="onclick"  id="collapseExampleNonEditBizz">	
			<hr>
			<div class="row">
				<div class="btn btn-secondary col-md-4">
					<h5  align="center">BUSINESS</h5>
					<div  class="form-group">{{user.businessContact}}</div>
					<div  class="form-group">{{user.businessTitle}}</div>
					<div  class="form-group">{{user.businessName}}</div>		
					<div  class="form-group">{{user.businessAddress}}</div>
					<div  class="form-group">{{user.businessIndustry}}</div>
					<div  class="form-group">{{user.businessWebsite}}</div>
					<div  class="form-group">{{user.businessPhone}}</div>
					<hr>
					<h5><small>BUSINESS SKILLS</small></h5>
					<table class="smallTableText">
						<tr>   
							<td class="oleoScript"  *ngIf="user.computerElectronics">computerElectronics</td>
							<td class="oleoScript"  *ngIf="user.teaching">teaching</td>
							<td class="oleoScript"  *ngIf="user.unionUtilities">unionUtilities</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.governmentPublic">governmentPublic</td>
							<td class="oleoScript"  *ngIf="user.healthMedicine">healthMedicine</td>
							<td class="oleoScript"  *ngIf="user.manufacturing">manufacturing</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.mediaEntertainment">mediaEntertainment</td>
							<td class="oleoScript"  *ngIf="user.businessServices">businessServices</td>
							<td class="oleoScript"  *ngIf="user.nonprofitAdvocacy">nonprofitAdvocacy</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.realestateConstruction">realestateConstruction</td>
							<td class="oleoScript"  *ngIf="user.entrepreneurContractor">entrepreneurContractor</td>
							<td class="oleoScript"  *ngIf="user.customerService">customerService</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.trasportationTravel">trasportationTravel</td>
							<td class="oleoScript"  *ngIf="user.salesDistribution">salesDistribution</td>
							<td class="oleoScript"  *ngIf="user.culinaryArts">culinaryArts</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.professionalArtist">professionalArtist</td>
						</tr>
					</table>
				</div>
				<div align="center" class="col-md-4">
					<br>
					<a data-toggle="collapse" data-target="#uploadRevealBusinessOne" aria-expanded="false" aria-controls="uploadRevealProfile">
					<img class="img-rounded profileUpload" src="{{user.businessImageOne}}" alt="" width="100%"></a>
					<div class="collapse" id="uploadRevealBusinessOne">
						<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=businessImageOne" method="post" enctype="multipart/form-data">
		                    <div>
		                             <input name="myFile"   type="file" class="form-control"/>
		                             <br>
		                             <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
		                    </div>
		                </form>
                    </div>
					<hr>
					<p>"BIZZ STATUS's"</p>
					<hr>
					<a data-toggle="collapse" data-target="#uploadRevealBusinessTwo" aria-expanded="false" aria-controls="uploadRevealProfile">
					<img class="img-rounded profileUpload" src="{{user.businessImageTwo}}" alt="" width="100%"></a>
					<div class="collapse" id="uploadRevealBusinessTwo">
						<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=businessImageTwo" method="post" enctype="multipart/form-data">
		                    <div>
		                             <input name="myFile"   type="file" class="form-control"/>
		                             <br>
		                             <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
                    		</div>
                        </form>
					</div>
					<p></p>
				</div>
				<div class="col-md-4 btn-outline-secondary border-grey">
					<div class="row">
						<div class="container">
							<br>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-two" role="tab" aria-controls="pills-home-two" aria-selected="true">Bizz</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-two" role="tab" aria-controls="pills-profile-two" aria-selected="false">Scenes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact-two" role="tab" aria-controls="pills-contact-two" aria-selected="false">Logs</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other-two" role="tab" aria-controls="pills-other-two" aria-selected="false">Savs</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother-two" role="tab" aria-controls="pills-nother-two" aria-selected="false">Links</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home-two" role="tabpanel" aria-labelledby="pills-home-tab-two"><hr>Lorem Ipsum BIZZ is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-profile-two" role="tabpanel" aria-labelledby="pills-profile-tab-two"><hr>Lorem Ipsum VENTURES is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-contact-two" role="tabpanel" aria-labelledby="pills-contact-tab-two"><hr>Lorem Ipsum LOGS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-other-two" role="tabpanel" aria-labelledby="pills-other-tab-two"><hr>Lorem Ipsum SAVS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-nother-two" role="tabpanel" aria-labelledby="pills-nother-tab-two"><hr>Lorem Ipsum LINKS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
							</div>
						</div>	
					</div>			
				</div>
			</div>
		</div>
		<hr>
		<!-- .......................................ARTIST NON-EDITABLE...................................... -->
		<div class="collapse" id="collapseExampleNonEditArts">
			<div class="row">
				<div class="btn btn-success col-md-4">
					<h5  align="right">ARTIST</h5>
					<div class="form-group">{{user.artistName}}</div>
					<div class="form-group">{{user.artistEmail}}</div>
					<div class="form-group">{{user.socialMedia1}}</div>
					<div class="form-group">{{user.socialMedia2}}</div>					
					<div class="form-group">{{user.socialMedia3}}</div>
					<div class="form-group">{{user.artistWebsite}}</div>
					<div class="form-group">{{user.artistPhone}}</div>	
					<hr>
					<h5><small>ART MEDIUMS</small></h5>
					<table class="smallTableText">
						<tr>   
							<td class="oleoScript"  *ngIf="user.digitalGraphics">digitalGraphics</td>
							<td class="oleoScript"  *ngIf="user.canvasArt">canvasArt</td>
							<td class="oleoScript"  *ngIf="user.webDesign">webDesign</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.photography">photography</td>
							<td class="oleoScript"  *ngIf="user.videography">videography</td>
							<td class="oleoScript"  *ngIf="user.lyricalArts">lyricalArts</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.vocalInstrument">vocalInstrument</td>
							<td class="oleoScript"  *ngIf="user.theater">theater</td>
							<td class="oleoScript"  *ngIf="user.modeling">modeling</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.acting">acting</td>
							<td class="oleoScript"  *ngIf="user.comedy">comedy</td>
							<td class="oleoScript"  *ngIf="user.dance">dance</td>
						</tr>
						<tr>
							<td class="oleoScript"  *ngIf="user.musicProduction">musicProduction</td>
						</tr>
					</table>	
				</div>			
				<div align="center" class="col-md-4">
					<br>
					<a data-toggle="collapse" data-target="#uploadRevealArtistOne" aria-expanded="false" aria-controls="uploadRevealProfile">
					<img class="img-rounded profileUpload" src="{{user.artistImageOne}}" alt="" width="100%">
					</a>
					<div class="collapse" id="uploadRevealArtistOne">
						<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=artistImageOne" method="post" enctype="multipart/form-data">
                            <div>
                                     <input  name="myFile"   type="file" class="form-control"/>
                                     <br>
                                     <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
                             </div>
                    	</form>
						<br>
					</div>	
					<hr>
					<br> 
					<p>"ART STATUS's"</p>
					<hr>
					<a data-toggle="collapse" data-target="#uploadRevealArtistTwo" aria-expanded="false" aria-controls="uploadRevealArtistTwo">
					<img class="img-rounded profileUpload" src="{{user.artistImageTwo}}" alt="" width="100%">
					</a>
					<div class="collapse" id="uploadRevealArtistTwo">
						<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=artistImageTwo" method="post" enctype="multipart/form-data">
                            <div>
                                     <input  name="myFile"   type="file" class="form-control"/>
                                     <br>
                                     <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
                             </div>
                    	</form>
						<br>
					</div>	
				</div>
				<div class="col-md-4 btn-outline-success border-green">
					<div class="row">
						<div class="container">			
							<br>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-three" role="tab" aria-controls="pills-home-three" aria-selected="true">Art</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-three" role="tab" aria-controls="pills-profile-three" aria-selected="false">Vybz</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact-three" role="tab" aria-controls="pills-contact-three" aria-selected="false">Moves</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other-three" role="tab" aria-controls="pills-other-three" aria-selected="false">Feels</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother-three" role="tab" aria-controls="pills-nother-three" aria-selected="false">Team</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home-three" role="tabpanel" aria-labelledby="pills-home-tab-three"><hr>Lorem Ipsum ART is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-profile-three" role="tabpanel" aria-labelledby="pills-profile-tab-three"><hr>Lorem Ipsum VYBZ is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-contact-three" role="tabpanel" aria-labelledby="pills-contact-tab-three">Lorem Ipsum MOVES is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-other-three" role="tabpanel" aria-labelledby="pills-other-tab-three"><hr>Lorem Ipsum FEELS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-nother-three" role="tabpanel" aria-labelledby="pills-nother-tab-three"><hr>Lorem Ipsum Team is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- .......................................EDITABLE PROFILE SECTION...................................... -->
<div *ngIf="editable">
	<div class="container">
		<form (ngSubmit)="update()" #f="ngForm">
			<div class="row">
				<!-- .......................................EDITABLE PERSONAL SECTION...................................... -->
				<div class="btn btn-danger col-md-4">
					<h5  align="left" >*PERSONAL</h5>
					<!-- Form field bday -->
					<div class="form-group">
						<input type="text" name="birthday" placeholder="birthday" required ngModel="{{user.birthday}}" #birthday="ngModel" class="form-control">
					</div>		
					<!-- Form field email -->
					<div class="form-group">
						<input type="text" required ngModel="{{user.email}}" name="email" placeholder="email" class="form-control">
					</div>
					<!-- Form field Username -->
					<div class="form-group">
						<input type="text" required ngModel="{{user.userName}}" name="userName" placeholder="username" class="form-control">
					</div>
					<hr>
					<h5><small>PERSONAL INTERESTS</small></h5>
					<table class="smallTableText">
						<tr>   
							<td>
								<input type="checkbox" name="events" ngModel="{{user.events}}" #events="ngModel">Events
							</td>
							<td><input type="checkbox" name="education" ngModel="{{user.education}}" #education="ngModel" >Education</td>
							<td><input type="checkbox" name="itemReview" ngModel="{{user.itemReview}}" #itemReview="ngModel" >Item Review</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="smallBizz" ngModel="{{user.smallBizz}}" #smallBizz="ngModel" >Small Bizz</td>
							<td><input type="checkbox" name="outdoors" ngModel="{{user.outdoors}}" #outdoors="ngModel" >Outdoors</td>
							<td><input type="checkbox" name="family" ngModel="{{user.family}}" #family="ngModel" value="family">Family</td>						
						</tr>
						<tr> 
							<td><input type="checkbox" name="fitness" ngModel="{{user.fitness}}" #fitness="ngModel">Fitness</td>
							<td><input type="checkbox" name="dining" ngModel="{{user.dining}}" #dining="ngModel">Dining</td>
						</tr>
					</table>
				</div>
				<!-- PROF PIC & EDIT BUTTON -->
				<div align="center" class="col-md-4">
					
					<img class="img-rounded profileUpload" src="{{user.profileImage}}" alt="" width="100%">
					<br>
					<p>"USER STATUS's"</p>
					<hr>				
					<p></p>
					<button type="submit" style="color: white" class="btn-block btn-dark">Save Profile</button>
					<br>
					<a style="color: white" class="btn-block btn-secondary" data-toggle="collapse" data-target="#collapseExampleEditBizz" aria-expanded="false" aria-controls="collapseExampleEditBizz">Show/Hide "Bizz"</a>
					<br>
					<a style="color: white" class="btn-block btn-success" data-toggle="collapse" data-target="#collapseExampleEditArts" aria-expanded="false" aria-controls="collapseExampleEditArts">Show/Hide "Artz"</a>
					<p></p>
					<p></p>
					</div>
					<div class="col-md-4 btn-outline-danger border-red">
					<div class="row">
						<div class="container">
							<br>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">User</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Lyfe</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Acts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="false">Favs</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother" role="tab" aria-controls="pills-nother" aria-selected="false">Circle</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><hr>Lorem Ipsum USER is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><hr>Lorem Ipsum INSPIRATIONS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><hr>Lorem Ipsum ACTIONS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab"><hr>Lorem Ipsum FAVS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
								<div class="tab-pane fade" id="pills-nother" role="tabpanel" aria-labelledby="pills-nother-tab"><hr>Lorem Ipsum FRIENDS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .......................................EDITABLE BUSINESS SECTION...................................... -->
			<div class="collapse" data-toggle="onclick"  id="collapseExampleEditBizz">
				<hr>
				<div class="container">
					<div class="row">
						<div class="btn btn-secondary col-md-4">
							<h5  align="center" >BUSINESS</h5>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessContact" ngModel="{{user.businessContact}}" placeholder="business contact" class="form-control">
							</div>
							<div class="form-group">
								<input style="text-align: center"type="text" ngModel="{{user.businessTitle}}" name="businessTitle" placeholder="business title" class="form-control">
							</div>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessName" ngModel="{{user.businessName}}" placeholder="business name" class="form-control">
							</div>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessAddress" ngModel="{{user.businessAddress}}" placeholder="business address" class="form-control">
							</div>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessIndustry" ngModel="{{user.businessIndustry}}" placeholder="business Industry" class="form-control">
							</div>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessWebsite" ngModel="{{user.businessWebsite}}" placeholder="businessWebsite" class="form-control">
							</div>
							<div  class="form-group">
								<input style="text-align: center"type="text" name="businessPhone" ngModel="{{user.businessPhone}}" placeholder="business phone" class="form-control">
							</div>
							<hr>
							<h5><small>BUSINESS SKILLS</small></h5>
							<table class="smallTableText">
								<tr>   
									<td><input type="checkbox" name="computerElectronics" ngModel="{{user.computerElectronics}}" #computerElectronics="ngModel" value="computerElectronics">computerElectronics</td>
									<td><input type="checkbox" name="teaching" ngModel="{{user.teaching}}" #teaching="ngModel" value="teaching">teaching</td>
									<td><input type="checkbox" name="unionUtilities" ngModel="{{user.unionUtilities}}" #unionUtilities="ngModel" value="unionUtilities">unionUtilities</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="governmentPublic" ngModel="{{user.governmentPublic}}" #governmentPublic="ngModel" value="governmentPublic">governmentPublic</td>
									<td><input type="checkbox" name="healthMedicine" ngModel="{{user.healthMedicine}}" #healthMedicine="ngModel" value="healthMedicine">healthMedicine</td>
									<td><input type="checkbox" name="manufacturing" ngModel="{{user.manufacturing}}" #manufacturing="ngModel" value="manufacturing">manufacturing</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="mediaEntertainment" ngModel="{{user.mediaEntertainment}}" #mediaEntertainment="ngModel" value="mediaEntertainment">mediaEntertainment</td>
									<td><input type="checkbox" name="businessServices" ngModel="{{user.businessServices}}" #businessServices="ngModel" value="businessServices">businessServices</td>
									<td><input type="checkbox" name="nonprofitAdvocacy" ngModel="{{user.nonprofitAdvocacy}}" #nonprofitAdvocacy="ngModel" value="nonprofitAdvocacy">nonprofitAdvocacy</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="realestateConstruction" ngModel="{{user.realestateConstruction}}" #realestateConstruction="ngModel" value="realestateConstruction">realestateConstruction</td>
									<td><input type="checkbox" name="entrepreneurContractor" ngModel="{{user.entrepreneurContractor}}" #entrepreneurContractor="ngModel" value="entrepreneurContractor">entrepreneurContractor</td>
									<td><input type="checkbox" name="customerService" ngModel="{{user.customerService}}" #customerService="ngModel" value="customerService">customerService</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="trasportationTravel" ngModel="{{user.trasportationTravel}}" #trasportationTravel="ngModel" value="trasportationTravel">trasportationTravel</td>
									<td><input type="checkbox" name="salesDistribution" ngModel="{{user.salesDistribution}}" #salesDistribution="ngModel" value="salesDistribution">salesDistribution</td>
									<td><input type="checkbox" name="culinaryArts" ngModel="{{user.culinaryArts}}" #culinaryArts="ngModel" value="culinaryArts">culinaryArts</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="professionalArtist" ngModel="{{user.professionalArtist}}" #professionalArtist="ngModel" value="professionalArtist">professionalArtist</td>
								</tr>
							</table>
						</div>
						<div align="center" class="col-md-4">
							<img class="img-rounded profileUpload" src="{{user.businessImageOne}}" alt="" width="100%">					
							<br>
							<br> 
								<div class="collapse" id="uploadRevealBusinessOne">
									<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/upload?type=businessImageOne" method="post" enctype="multipart/form-data">
		                                <div>
		                                         <input  name="myFile"   type="file" class="form-control"/>
		                                         <br>
		                                         <button type="submit" class="btn btn-block btn-outline-primary">Upload Image</button>
		                                 </div>
		                        	</form>
									<br>
								</div>	
							<br>	
							<hr>
							<p>"BIZZ STATUS's"</p>
							<hr>
							<img class="img-rounded profileUpload" src="{{user.businessImageTwo}}" alt="" width="100%">
							<br>
							<br> 
						</div>				
						<div class="col-md-4 btn-outline-secondary border-grey">
							<div class="row">
								<div class="container">
									<br>
									<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-two" role="tab" aria-controls="pills-home-two" aria-selected="true">Bizz</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-two" role="tab" aria-controls="pills-profile-two" aria-selected="false">Scenes</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact-two" role="tab" aria-controls="pills-contact-two" aria-selected="false">Logs</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other-two" role="tab" aria-controls="pills-other-two" aria-selected="false">Savs</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother-two" role="tab" aria-controls="pills-nother-two" aria-selected="false">Links</a>
										</li>
									</ul>
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-home-two" role="tabpanel" aria-labelledby="pills-home-tab-two"><hr>Lorem Ipsum BIZZ is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
										</div>
										<div class="tab-pane fade" id="pills-profile-two" role="tabpanel" aria-labelledby="pills-profile-tab-two"><hr>Lorem Ipsum VENTURES is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
										</div>
										<div class="tab-pane fade" id="pills-contact-two" role="tabpanel" aria-labelledby="pills-contact-tab-two"><hr>Lorem Ipsum LOGS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
										</div>
										<div class="tab-pane fade" id="pills-other-two" role="tabpanel" aria-labelledby="pills-other-tab-two"><hr>Lorem Ipsum SAVS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
										</div>
										<div class="tab-pane fade" id="pills-nother-two" role="tabpanel" aria-labelledby="pills-nother-tab-two"><hr>Lorem Ipsum LINKS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- .......................................EDITABLE ARTIST SECTION...................................... -->
			<div class="collapse" id="collapseExampleEditArts">
				<div class="container">
					<div class="row">
						<div class="btn btn-success col-md-4">
							<h5  align="right" >ARTIST</h5>
							<div class="form-group">
								<input style="text-align: right" type="text" name="email" ngModel="{{user.email}}" class="form-control">
							</div>
							<div class="form-group">
								<input style="text-align: right" type="text" name="social media url 1" ngModel="{{user.socialMedia1}}"  class="form-control">
							</div>					
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<!-- Form field Username -->
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<div class="form-group">
								<input style="text-align: right" type="text" name="social media url 2" ngModel="{{user.socialMedia2}}" class="form-control">
							</div>
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<!-- Form field Username -->
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<div class="form-group">
								<input style="text-align: right" type="text" name="social media url 3" ngModel="{{user.socialMedia3}}" class="form-control">
							</div>					
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<!-- Form field Username -->
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<div class="form-group">
								<input style="text-align: right" type="text" name="website" ngModel="{{user.artistWebsite}}" class="form-control">
							</div>					
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<!-- Form field Username -->
							<!-- ~~~~~~~~~~~~~~~~~~~ -->
							<div class="form-group">
								<input style="text-align: right" type="text" name="phone" ngModel="{{user.artistPhone}}" class="form-control">
							</div>
							<hr>
							<h5><small>ART MEDIUMS</small></h5>
							<table class="smallTableText">
								<tr>   
									<td><input type="checkbox" name="digitalGraphics" ngModel="{{user.digitalGraphics}}" #digitalGraphics="ngModel" value="digitalGraphics">digitalGraphics</td>
									<td><input type="checkbox" name="canvasArt" ngModel="{{user.canvasArt}}" #canvasArt="ngModel" value="canvasArt">canvasArt</td>
									<td><input type="checkbox" name="webDesign" ngModel="{{user.webDesign}}" #webDesign="ngModel" value="webDesign">webDesign</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="photography" ngModel="{{user.photography}}" #photography="ngModel" value="photography">photography</td>
									<td><input type="checkbox" name="videography" ngModel="{{user.videography}}" #videography="ngModel" value="videography">videography</td>
									<td><input type="checkbox" name="lyricalArts" ngModel="{{user.lyricalArts}}" #lyricalArts="ngModel" value="lyricalArts">lyricalArts</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="vocalInstrument" ngModel="{{user.vocalInstrument}}" #vocalInstrument="ngModel" value="vocalInstrument">vocalInstrument</td>
									<td><input type="checkbox" name="theater" ngModel="{{user.theater}}" #theater="ngModel" value="theater">theater</td>
									<td><input type="checkbox" name="modeling" ngModel="{{user.modeling}}" #modeling="ngModel" value="modeling">modeling</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="acting" ngModel="{{user.acting}}" #acting="ngModel" value="acting">acting</td>
									<td><input type="checkbox" name="comedy" ngModel="{{user.comedy}}" #comedy="ngModel" value="comedy">comedy</td>
									<td><input type="checkbox" name="dance" ngModel="{{user.dance}}" #dance="ngModel" value="dance">dance</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="musicProduction" ngModel="{{user.musicProduction}}" #musicProduction="ngModel" value="musicProduction">musicProduction</td>
								</tr>
								</table>
							</div>
							<div align="center" class="col-md-4">
								<img class="img-rounded profileUpload" src="{{user.artistImageOne}}" alt="" width="100%">
								<br>
								<hr>
								<p>"ART STATUS's"</p>
								<hr>
								<img class="img-rounded profileUpload" src="{{user.artistImageTwo}}" alt="" width="100%">
								<br>
							</div>
							<div class="col-md-4 btn-outline-success border-green">
								<div class="row">
									<div class="container">
										<br>
										<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-three" role="tab" aria-controls="pills-home-three" aria-selected="true">Art</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-three" role="tab" aria-controls="pills-profile-three" aria-selected="false">Vybz</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact-three" role="tab" aria-controls="pills-contact-three" aria-selected="false">Moves</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other-three" role="tab" aria-controls="pills-other-three" aria-selected="false">Feels</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-nother-three" role="tab" aria-controls="pills-nother-three" aria-selected="false">Team</a>
											</li>
										</ul>
										<div class="tab-content" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-home-three" role="tabpanel" aria-labelledby="pills-home-tab-three"><hr>Lorem Ipsum ART is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
											</div>
											<div class="tab-pane fade" id="pills-profile-three" role="tabpanel" aria-labelledby="pills-profile-tab-three"><hr>Lorem Ipsum VYBZ is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
											</div>
											<div class="tab-pane fade" id="pills-contact-three" role="tabpanel" aria-labelledby="pills-contact-tab-three">Lorem Ipsum MOVES is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
											</div>
											<div class="tab-pane fade" id="pills-other-three" role="tabpanel" aria-labelledby="pills-other-tab-three"><hr>Lorem Ipsum FEELS is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
											</div>
											<div class="tab-pane fade" id="pills-nother-three" role="tabpanel" aria-labelledby="pills-nother-tab-three"><hr>Lorem Ipsum Team is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker i<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</form>
		</div>
	</div>


