<div class="container">
	
	<!-- PERSONAL SECTION -->
	<div class="row">

		<!-- FORM FIELDS -->
		<div class="btn btn-danger col-4">
			<h5  align="left" >*PERSONAL</h5>
				<!-- Form field bday -->
				<div class="form-group">
					<input type="text" name="birthday" placeholder="birthday" class="form-control">
				</div>		
				<!-- Form field email -->
				<div class="form-group">
					<input type="text" name="email" placeholder="email" class="form-control">
				</div>
				<!-- Form field Username -->
				<div class="form-group">
					<input type="text" name="username" placeholder="username" class="form-control">
				</div>
				<!-- Form field Password -->
				<div class="form-group">
					<input type="password" name="password" placeholder="password" class="form-control">
				</div>
				<!--  Form field Verify  -->
				<div class="form-group">
					<input type="password" name=" verify-password" placeholder="verify password" class="form-control">
				</div>
		</div>

			<!-- PROF PIC & EDIT BUTTON -->
			<div align="center" class="col-4">
				<img src="../../../images/Prof.png" alt="Prof pic" width="auto" ><br><p></p><hr><p></p>
					<a style="color: white" class="btn-block btn-danger" data-toggle="collapse" data-target="#Edit" aria-expanded="false" aria-controls="Edit">Edit Profile</a><br>


					<div class="collapse" id="Edit">
					<a style="color: white" class="btn-block btn-dark">Save Profile</a><br>
					</div>


					<a style="color: white" class="btn-block btn-secondary" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Show/Hide "Bizz"</a><br>

					<a style="color: white" class="btn-block btn-success" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Show/Hide "Artz"</a><p></p><hr><p></p>
			</div>			
				
				<!-- CATEGORIES -->
				<div class="btn btn-outline-danger col-4">

						<TABLE BORDER="0" WIDTH="30%" ALIGN="CENTER"
						  CELLPADDING="0" CELLSPACING="0"
						  >
						 <TR>
						   <TD><input type="checkbox" name="bike" value="bike">Bike<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Car<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Bus<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Rocket<br></TD>
						 </TR>
						 <TR>
						   <TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
						 </TR> 
						    <TR> 
						 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
						 </TR>
						 <TR> 
						 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
						   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
						 </TR>
						</TABLE>

									</div>
							</div>
						<hr>
						</div>




<div class="collapse" id="collapseExample3">
 
<div class="container">
	<div class="row">
			<div class="btn btn-secondary col-4">
			<h5  align="center" >BUSINESS</h5>

					<div  class="form-group">
					<input style="text-align: center"type="text" name="business contact" placeholder="business contact" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->	
					<div  class="form-group">
					<input style="text-align: center"type="text" name="title" placeholder="title" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div  class="form-group">
					<input style="text-align: center"type="text" name="organization" placeholder="organization" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->				<div  class="form-group">
					<input style="text-align: center"type="text" name="address" placeholder="address" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->


					<div  class="form-group">
					<input style="text-align: center"type="text" name="industry" placeholder="industry" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div  class="form-group">
					<input style="text-align: center"type="text" name="website" placeholder="website" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div  class="form-group">
					<input style="text-align: center"type="text" name="phone" placeholder="phone" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->


			</div>
				<div align="center" class="col-4">
					<br>
				<img src="../../../images/Agency.jpg" alt="Agency pic" width="auto" ><p></p><hr><p></p>
				<img src="../../../images/Agency.jpg" alt="Agency pic" width="auto" >
			</div>				
			<div class="btn btn-outline-secondary col-4">
				<TABLE BORDER="0" WIDTH="30%" ALIGN="CENTER"
  CELLPADDING="0" CELLSPACING="0"
  >
 <TR>
   <TD><input type="checkbox" name="bike" value="bike">Bike<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Car<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Bus<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Rocket<br></TD>
 </TR>
 <TR>
   <TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR> 
    <TR> 
 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR>
 <TR> 
 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR>
</TABLE>
			</div>
	</div>
<hr>
</div>
</div>



<div class="collapse" id="collapseExample4">
<div class="container">
	<div class="row">
			<div class="btn btn-success col-4">
			<h5  align="right" >ARTIST</h5>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="email" placeholder="email" class="form-control">
					</div>					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="social media url 1" placeholder="social media url 1" class="form-control">
					</div>					
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="social media url 2" placeholder="social media url 2" class="form-control">
					</div>
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="social media url 3" placeholder="social media url 3" class="form-control">
					</div>					
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="website" placeholder="website" class="form-control">
					</div>					
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input style="text-align: right" type="text" name="phone" placeholder="phone" class="form-control">
					</div>
						
			</div>
			<div align="center" class="col-4"><br>
				<img src="../../../images/artist.jpg" alt="Artist pic" width="auto" >
				<p></p><hr><p></p>
				<img src="../../../images/artist.jpg" alt="Artist pic" width="auto" >
			</div>				
			<div class="btn btn-outline-success col-4">
				<TABLE BORDER="0" WIDTH="30%" ALIGN="CENTER"
  CELLPADDING="0" CELLSPACING="0"
  >
 <TR>
   <TD><input type="checkbox" name="bike" value="bike">Bike<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Car<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Bus<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Rocket<br></TD>
 </TR>
 <TR>
   <TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR> 
    <TR> 
 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR>
 <TR> 
 	<TD><input type="checkbox" name="bike" value="bike">Plane<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Wing<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Cartwheel<br></TD>
   <TD><input type="checkbox" name="bike" value="bike">Glider<br></TD>
 </TR>
</TABLE>
			</div>
	</div></div>
<hr>
</div>


 
