	<!--     Container     -->

	<div class="container">
			
<div class="collapse" id="login">			
			<form (ngSubmit)="login()" #f="ngForm">
				<!-- Form Field (Username) -->
				<div class="form-group">
					<input required style="text-align: center" type="text" name="userName" placeholder="username" class="form-control" ngModel #userName="ngModel">
				</div>
				
				<!-- Form Field (Password) -->
				<div class="form-group">
					<input  required style="text-align: center"  type="text" name="password" placeholder="password" class="form-control" ngModel #password="ngModel">
				</div>		

				<!-- Sumbit Button -->
				<button (ngSubmit)="login()" class="form btn btn-dark btn-block">Submit Login</button>
</form></div>


	
</div>







