
<div class="container">
     <div class="col-md-12">
          
               <h1 class="text-center display-4">SHOUT | OUTS!</h1>
     <div class="text-muted text-center ">"He who learns; teaches."<p></p><i><small>~ African Proverb</small></i></div>
               <br>
               <div class="row">
          </div>
     </div>
     <hr>
     <div class="row">
          <div class="text-left col-md-3">
               <div class="form-check form-check-inline">
                    <input (input)="reorder('events')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Events</label>
               </div>
               <br>
               <div class="form-check form-check-inline">
                    <input (input)="reorder('education')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Education</label>
               </div>
               <br>
          </div>
          <div class="text-left col-md-3">
               <div class="form-check form-check-inline">
                    <input (input)="reorder('itemReview')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Item Review</label>
               </div>
               <br>
               <div class="form-check form-check-inline">
                    <input (input)="reorder('smallBizz')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
               </div>
               <br>
          </div>
          <div class="text-left col-md-3">
               <input (input)="reorder('outdoors')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
               <label class="form-check-label" for="inlineRadio5">Outdoors</label>
               <br>
               <input (input)="reorder('family')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
               <label class="form-check-label" for="inlineRadio6">Family</label>
               <br>
          </div>
          <div class="text-left col-md-3">
               <input (input)="reorder('fitness')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
               <label class="form-check-label" for="inlineRadio7">Fitness</label>
               <br>
               <input (input)="reorder('dining')" class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
               <label class="form-check-label" for="inlineRadio8">Dining</label>
               <br>
          </div>
     </div>
     <hr>
     <form class="d-flex justify-content-center">
          <input class="form-control mr-sm-2" type="text" name="shoutOutSearch"  placeholder="Search ShoutOuts" [(ngModel)]="shoutOutSearch" aria-label="Search">
     </form>
     <table class="table table-borderless">
          <thead>
                <tr>
                    <td style="height:0px"colspan="4"><hr></td>
               </tr> 
               <tr>
                    <th></th>
                    <th><i>Name</i></th>
                    <th><i>Location</i></th>
                    <th><i>Date</i></th>
               </tr>
          </thead>
          <tbody *ngFor="let shoutOut of shoutOuts">
               <tr *ngIf="(
                    shoutOut.descriptionShout + 
                    shoutOut.locationShout + 
                    shoutOut.dateShout + 
                    shoutOut.websiteShout).toUpperCase().includes(this.shoutOutSearch.toUpperCase()) 
                    && this.shoutOut.nameShout +
                    this.shoutOut.locationShout +
                    this.shoutOut.dateShout
                    !== '' ">
                    <td><img alt="shoutOut" [src]="shoutOut.shoutOutImage" width="100"></td>   
                    <td>{{shoutOut.nameShout}}</td>
                    <td>{{shoutOut.locationShout}}</td>
                    <td>{{shoutOut.dateShout}}</td>
                    <td>
                         <button class="btn btn-outline-primary" data-toggle="collapse" [attr.data-target]="'.' + shoutOut._id" aria-expanded="false" aria-controls="collapseExample">
                              <i class="fas fa-bars"></i>
                         </button>
                    </td>
               </tr>
               <tr class="bg-secondary text-white collapse {{shoutOut._id}}">
                    <th><small>DESCRIPTION</small></th>
                    <th><small>HOURS</small></th>
                    <th><small>WEBSITE</small></th>
                    <th><small>TYPES</small></th>
               </tr>
               <tr class="bg-dark text-warning collapse {{shoutOut._id}}">
                    <td>{{shoutOut.descriptionShout}}</td>
                    <td>{{shoutOut.timeShout}}</td>
                    <td><a class="text-warning" href="{{shoutOut.websiteShout}}">{{shoutOut.websiteShout}}</a>
                    </td>
                    <td class="text-white font-size">
                         <span *ngIf="shoutOut.artEventsFunShout">Fun | </span>
                         <span *ngIf="shoutOut.educationShout">Education | </span>
                         <span *ngIf="shoutOut.ItemReviewShout">Items Review | </span>
                         <span *ngIf="shoutOut.smallBizzShout">Small Bizz | </span>
                         <span *ngIf="shoutOut.outdoorsShout">Outdoors | </span>
                         <span *ngIf="shoutOut.familyShout">Family | </span>
                         <span *ngIf="shoutOut.fitnessShout">Fitness | </span>
                         <span *ngIf="shoutOut.diningShout">Dining | </span>
                    </td>
               </tr>
               <tr>
                    <td style="height:0px"colspan="4"><hr></td>
               </tr> 
          </tbody>
     </table>
          <br> 
     <div class="card text-center">
          <div class="card-header">
               <div class="btn-dark card-body">
                    <h5 class="card-title">"ShoutOut" AN EXPERIENCE!</h5>
                    <p class="card-text">Share the buried treasures youve found in Boston, post an experience!.</p>
                    <a (click)="createShoutOut()" class="btn btn-primary">Post ShoutOut!</a>
               </div>
               <div class="card-footer text-muted"></div>
          </div>
     </div>
</div>