<br>
<div class="row headerThis">
    <div class="col-md-2"><img (mouseenter)="tipButton('Click for LSE Mission')" (mouseleave)="hideButton()" data-toggle="collapse" data-target="#visionsfour" aria-expanded="false" aria-controls="collapseExample" class="cursor-pointer logoPadding headerContentThis" width="150px" src="../images/LSE LOGO2.jpg">
    </div>
    <div class="col-md-5 headerContentThis"><h4 class="headerContentThis header-mission-top-margin">
            <strong (mouseenter)="tipButton('Click for LSE Mission')" (mouseleave)="hideButton()" data-toggle="collapse" data-target="#visionsfour" aria-expanded="false" aria-controls="collapseExample" class="cursor-pointer registerSpace mainText"><i class="text-muted">LightSpeed Entertainment  |  </i><i>"A resource for arts that inspire come-unity!"
            </i></strong>
        </h4>
    </div>
    <div class="col-md-5 headerContentThis">
         <div class="row align-all-center">
                <button *ngIf="SharedService.user" (click)="closeRegister()"(click)="closeLogin()" (click)="logout()" 
                class= "headerContentThis btn btn-danger btn-top-padding upper-header">
                    <i class="fas fa-sign-out-alt header-icons-padding"></i>LOGOUT
                </button>
                <button *ngIf="!SharedService.user"   (click)="closeRegister()" 
                class= "headerContentThis btn btn-secondary btn-top-padding upper-header" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-key header-icons-padding"></i>LOGIN
                </button><br>
                <button *ngIf="!SharedService.user" (click)="closeLogin()" class="btn btn-success upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>REGISTER
                </button>
               <button *ngIf="SharedService.user && router.url === '/community/shoutouts'"  (click)="closeLogin()" class="btn btn-primary upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>Post ShoutOut
                </button>
                <button *ngIf="SharedService.user && router.url === '/resource/calendar'"  (click)="closeLogin()" class="btn btn-primary upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>Post To Cal
                </button>
                  <button *ngIf="SharedService.user && router.url === '/community/vloglyfe'"  (click)="closeLogin()" class="btn btn-primary upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>Post Vlog
                </button>
                <button *ngIf="SharedService.user && router.url !== '/user' && router.url !== '/community/vloglyfe' && router.url !== '/resource/calendar' && router.url !== '/community/shoutouts'  " (click)="closeLogin()" class="btn btn-success upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>Profile
                </button>
                <button *ngIf="SharedService.user && router.url === '/user'" (click)="closeLogin()" class="btn btn-outline-danger upper-header" data-toggle="collapse" data-target="#register" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user-circle "></i>Community
                </button>
                <div class="justify-content-center row nav-text">
            <ul class="nav nav-pills ">
                <li class="nav-item dropdown">
                    <a class="legend-center nav-link dropdown" data-toggle="dropdown" href="#"  aria-haspopup="true" aria-expanded="false">community.</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/community/vloglyfe">Vlog</a>
                        <a class="dropdown-item" routerLink="/community/shoutouts">ShoutOuts</a>
                    </div>
                </li>
            </ul>
            <ul class="nav nav-pills">                       
                <li class="nav-item dropdown">
                    <a class="legend-center nav-link dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">arts.</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/art/events">Events</a>
                        <a class="dropdown-item" routerLink="/art/store">Shop</a>
                    </div>
                </li>
            </ul>
            <ul class="nav nav-pills">  
                <li class="nav-item dropdown">
                    <a class="legend-center nav-link dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">resource.</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/resource/calendar">Calendar</a>
                        <a class="dropdown-item" routerLink="/resource/services">Services</a>
                    </div>
                </li>
            </ul>
        </div>  
            </div>
    </div>
</div>


<!--     Container     -->
<div class="collapse"  id="login">
    <app-login></app-login>
</div>


<div class="collapse" data-toggle="onclick" id="register">
    <div class="container negmarg">
        <hr>
        <app-register></app-register>
    </div>
</div>



<router-outlet></router-outlet>

<!-- 

    ~~~~~~~~~~~~~~ -->
    <!-- Footer Nav Bar -->     
    <!-- ~~~~~~~~~~~~~~ -->
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
    <nav class="bg-success fixed-bottom" >
        <div class="row footer">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-2">
                        <i (mouseenter)="showButton('NAVIGATION')" (mouseleave)="hideButton()" class="fas fa-list werthYellowList" data-toggle="collapse" data-target="#footerIconsReveal" aria-expanded="false" aria-controls="footerIconsReveal"></i>
                    </div>
                    <div class="col-10">
                        <div class="innerHTMLHoverHome">
                            <a href="">
                                <div class="new-popup-home">
                                    <span class="werthYellowSmall vertical-midclass oleoScript">{{buttonContext}}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">      
                <div class="collapse" id="footerIconsReveal">
                    <a routerLink="/home">
                        <i (mouseenter)="showButton('HOME')" (mouseleave)="hideButton()" class="fab fa-houzz footer-icons-white werth new-popup-home"></i>
                    </a>
                    <a routerLink="/user">
                        <i (mouseenter)="showButton('PROFILE')" (mouseleave)="hideButton()" class="fas fa-user-circle footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/community/vloglyfe">
                        <i (mouseenter)="showButton('VLOGLYFE')" (mouseleave)="hideButton()" class="fas fa-video footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/community/shoutouts">
                        <i (mouseenter)="showButton('SHOUTOUTS')" (mouseleave)="hideButton()" class="far fa-comment-dots footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/art/events">
                        <i (mouseenter)="showButton('EVENTS')" (mouseleave)="hideButton()" class="fas fa-bolt footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/art/store">
                        <i (mouseenter)="showButton('STORE')" (mouseleave)="hideButton()" class="fas fa-store-alt footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/resource/calendar">
                        <i (mouseenter)="showButton('CALENDAR')" (mouseleave)="hideButton()" class="far fa-calendar-alt footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/resource/services">
                        <i (mouseenter)="showButton('SERVICES')" (mouseleave)="hideButton()" class="fas fa-hand-holding-heart footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/about-us">
                        <i (mouseenter)="showButton('ABOUT-US')" (mouseleave)="hideButton()" class="fas fa-at footer-icons-white werth"></i>
                    </a>
                    <a routerLink="/user/:cid/art/store/shoppingcart">
                        <i (mouseenter)="showButton('CART')" (mouseleave)="hideButton()" class="fas fa-shopping-cart footer-icons-white werth"></i>
                    </a>
                    <a data-toggle="popover" title="Search" data-content="Search">
                        <i (mouseenter)="showButton('SEARCH')" (mouseleave)="hideButton()" class="fas fa-search footer-icons-white werth" data-toggle="collapse" data-target="#mainSearchBarReveal" aria-expanded="false" aria-controls="mainSearchBarReveal">   
                        </i>
                    </a>
                    
                    <div class="collapse" data-toggle="onclick" id="mainSearchBarReveal"><hr>
                            <input type="text" class="form-control" placeholder="Search..">
                    </div>
                </div> 
            </div>
            <div class="col-md-3">         
                <div class="innerHTMLHoverHome">
                    <a href="">
                         <div class="new-popup-home">
                            <span *ngIf="tipContext" class="werthYellowSmall">TIP: <span class=" vertical-midclass oleoScript">{{tipContext}}</span></span>
                         </div>
                    </a>
                </div>
            </div>
        </div>      
     </nav>



