<hr>
<div class="display-4 text-center text-muted">ABOUT US</div>
<hr>
<div class="row container">
		<thead class="centerTable">
				<tr class="centerTable">
						<th class="centerTable">
							<button class="btn btn-danger" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#mission" aria-expanded="false" aria-controls="collapseExample">LSE MISSION
							</button>
						</th>
						<th class="centerTable">
							<button class="btn btn-secondary" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#legacy" aria-expanded="false" aria-controls="collapseExample1">LSE LEGACY
							</button>
						</th>
						<th class="centerTable">
							<button class="btn btn-success" data-toggle="popover" title="show/hide personal panel" data-toggle="collapse" data-target="#arafat" aria-expanded="false" aria-controls="collapseExampl">LSE FOUNDER
							</button>
						</th>
				</tr>
		</thead>
</div>




<br>
<div align="left" class="container">
		<div class="collapse" id="mission">
				<div class="card">
						<div class="card-body btn-danger wrap container container-fluid"> 
								<h5 class="display-4" align="left" >LSE MISSION</h5>
								<hr>
								<p>LightSpeed Entertainment, Inc. is an established Boston resource for arts that inspire come-unity. We specialize in events, initiatives and services that produce ideal environments for businesses, families and community members to form bonds. Our dream is to promote the inner beauty of our communities, strengthen relationships and support our collective health through the power of art, entertainment and love.
								</p>
						</div>
				</div>	
				<br>
				<br>
		</div>
</div>


<div align="center" class="container">
	<div class="collapse" id="legacy">
			<div class="card"> 
					<div class="card-body btn-secondary container container-fluid"> 
							<h5  class="display-4"  >LSE LEGACY</h5>
							<hr>
							<p>FOUNDATION</p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tortor dolor, rutrum eget orci a, tincidunt consequat nisl. Nam commodo condimentum magna quis gravida. Etiam lobortis faucibus metus, sed efficitur leo sagittis ac. Suspendisse potenti. Proin varius, quam at ullamcorper posuere, turpis tellus dapibus enim, id fermentum massa odio eget neque. Morbi eget lacus at lectus mattis rutrum in id sem. Praesent non aliquet quam. Phasellus magna magna, eleifend sit amet sagittis at, egestas eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							<hr>
							<p>LSE LEGACY</p>
							<P>
							LightSpeed Entertainment is an established resource for entertainment and media in Boston.  Since 2008 LightSpeed has been a leading force producing trend setting media, events and educational programming that has greatly impacted
							the social and cultural landscape of Boston.  Explore our new site and get
							connected to some of the great work we offer the community.
							</P>
							<hr>
							<p>LSE 2020 VISION</p>
							<P>
							Lightspeed is a resource for arts that inspire community. We use the power of art to promote culture, “love” and “light”. Our work builds community, inspires healthy lifestyles and supports the business of art. Our service model is currently under construction but please explore this abbreviated site and discover the great people, creativity and resources we have to offer. Love and Light."
							</P>
					</div>
			</div>
			<br>
			<br>
	</div>
</div> 

<!-- ARTIST SECTION -->
<div align="right" class="container">
		<div class="collapse" id="arafat">
				<div class="card">
					<div class="card-body btn-success container container-fluid"> 
							<h5  class="display-4" align="right" >ARAFAT AKBAR</h5>
							<hr>
							<p>BUSINESS</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tortor dolor, rutrum eget orci a, tincidunt consequat nisl. Nam commodo condimentum magna quis gravida. Etiam lobortis faucibus metus, sed efficitur leo sagittis ac. Suspendisse potenti. Proin varius, quam at ullamcorper posuere, turpis tellus dapibus enim, id fermentum massa odio eget neque. Morbi eget lacus at lectus mattis rutrum in id sem. Praesent non aliquet quam. Phasellus magna magna, eleifend sit amet sagittis at, egestas eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<hr>
							<p>ART</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tortor dolor, rutrum eget orci a, tincidunt consequat nisl. Nam commodo condimentum magna quis gravida. Etiam lobortis faucibus metus, sed efficitur leo sagittis ac. Suspendisse potenti. Proin varius, quam at ullamcorper posuere, turpis tellus dapibus enim, id fermentum massa odio eget neque. Morbi eget lacus at lectus mattis rutrum in id sem. Praesent non aliquet quam. Phasellus magna magna, eleifend sit amet sagittis at, egestas eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<hr>
							<p>LINKS</p>
							<a style="color:white" routerLink="/arafatakbar"><p><small>Live Resume: arafatakbar.com</small></p></a>
							<br>

					</div>
				</div>
				<br>
				<br>
		</div>
</div>
