

<div class="text-center container">

      <br>


      <div class="btn-light text-center">
            <div class="btn-light card-header">
                  <div class="display-1">SERVICES</div>
            </div>
            <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->


            <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
            <table align="center" class="GeneratedTable">
                  <thead>
                        <tr>
                              <th class="btn-success" data-toggle="collapse" data-target="#Web" aria-expanded="false" aria-controls="Web">WEB</th>
                              <th class="btn-dark" data-toggle="collapse" data-target="#Grafix" aria-expanded="false" aria-controls="Grafix">GRAFIX</th>
                              <th class="btn-secondary" data-toggle="collapse" data-target="#Events" aria-expanded="false" aria-controls="Events">EVENTS</th>
                              <th class="btn-danger" data-toggle="collapse" data-target="#Entertainment" aria-expanded="false" aria-controls="Entertainment">ENTERTAINMENT</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>



                              <td class="btn-outline-success" data-toggle="collapse" data-target="#Maintenance" aria-expanded="false" aria-controls="Maintenance">Web Maintenance</td>
                              <td class="btn-outline-dark" data-toggle="collapse" data-target="#Logo" aria-expanded="false" aria-controls="Logo">Logo Design</td>
                              <td class="btn-outline-secondary" data-toggle="collapse" data-target="#Coordination" aria-expanded="false" aria-controls="Coordination">Event Coordination</td>
                              <td class="btn-outline-danger" data-toggle="collapse" data-target="#Services" aria-expanded="false" aria-controls="Services">Artist Services</td>
                        </tr>
                        <tr>
                              <td class="btn-outline-success" data-toggle="collapse" data-target="#Website" aria-expanded="false" aria-controls="Website">Website Design</td>
                              <td class="btn-outline-dark" data-toggle="collapse" data-target="#Flyer" aria-expanded="false" aria-controls="Flyer">Flyer Design</td>
                              <td class="btn-outline-secondary" data-toggle="collapse" data-target="#Assistance" aria-expanded="false" aria-controls="Assistance">Executive Assistance</td>
                              <td class="btn-outline-danger" data-toggle="collapse" data-target="#Curation" aria-expanded="false" aria-controls="Curation">Event Curation</td>
                        </tr>
                        <tr>
                              <td class="btn-outline-success" data-toggle="collapse" data-target="#webConsulting" aria-expanded="false" aria-controls="webConsulting">Web Consulting</td>
                              <td class="btn-outline-dark" data-toggle="collapse" data-target="#Templates" aria-expanded="false" aria-controls="Templates">Business Templates</td>
                              <td class="btn-outline-secondary" data-toggle="collapse" data-target="#Consulting" aria-expanded="false" aria-controls="Consulting">Event Consulting</td>
                              <td class="btn-outline-danger" data-toggle="collapse" data-target="#Ad" aria-expanded="false" aria-controls="Ad">Ad Space</td>
                        </tr>

                  </tbody>
            </table>





            <div class="collapse" id="Maintenance">
                  <div class="card card-body">
                        MAINTENANCE pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Website">
                  <div class="card card-body">
                        WEBSITE cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="webConsulting">
                  <div class="card card-body">
                        WEB CONSULTING cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Logo">
                  <div class="card card-body">
                        LOGO pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Flyer">
                  <div class="card card-body">
                        FLYER pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Templates">
                  <div class="card card-body">
                        TEMPLATES pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Coordination">
                  <div class="card card-body">
                        COORDINATION pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Assistance">
                  <div class="card card-body">
                        ASSISTANCE pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Consulting">
                  <div class="card card-body">
                        CONSULTING pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Services">
                  <div class="card card-body">
                        SERVICES pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Curation">
                  <div class="card card-body">
                        CURATION pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>

            <div class="collapse" id="Ad">
                  <div class="card card-body">
                        AD pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.  
                        <br>
                        <div class="row">
                              <div class="col-4"></div>
                              <div class="col-4">
                                    <div class="display-4 btn btn-outline-success" routerLink="/resource/services/request-bid">REQUEST BID</div>
                              </div>
                              <div class="col-4"></div>
                        </div>
                  </div>
            </div>



      </div>







      <div class="btn-dark text-center">
            <div class="card-header">
                  <div class="display-4">G.|KODE</div>
            </div><br>
            <div class="row">
                  <div class="col-4">
                        <div class="display-4 float-right"><i><sup><strong>threads</strong></sup></i></div>
                  </div>
                  <div class="col-4">
                        <p>short description of site, mission, etc. Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>


                  <div class="col-4">
                        <div class="container-fluid"><img id="LSE" width="235" height="75" src="../../../images/LSE4.jpg"></div><br>
                  </div>


            </div>
      </div>
      <br>










      <br>


      <div class="btn-danger text-center">
            <div class="card-header">
                  <div class="display-4">BUSINESS LINKS</div>

                  <hr>
                  <div class="row">

                        <div class="text-left col-3">
                              <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Events</label>
                              </div><br>
                              <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Education</label>
                              </div><br>
                        </div>


                        <div class="text-left col-3">
                              <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Item Review</label>
                              </div><br>

                              <div class="form-check form-check-inline">
                                    <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                    <label class="form-check-label" for="inlineRadio4">Small Bizz</label>
                              </div><br>

                        </div>


                        <div class="text-left col-3">

                              <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                              <label class="form-check-label" for="inlineRadio5">Outdoors</label><br>

                              <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
                              <label class="form-check-label" for="inlineRadio6">Family</label><br>

                        </div>


                        <div class="text-left col-3">
                              <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
                              <label class="form-check-label" for="inlineRadio7">Fitness</label><br>

                              <input class="form-check form-check-inline" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
                              <label class="form-check-label" for="inlineRadio8">Dining</label>

                        </div>


                  </div><br>

            </div><br>
            <div class="row">
                  <div class="col-4">
                        <div class="display-4">BIZZ</div>
                  </div>
                  <div class="col-4">
                        <p>short description of site, mission, etc. Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>


                  <div class="col-4">
                        <div class="container-fluid"><img id="LSE" width="235" height="75" src="../../../images/LSE2.jpg"></div><br>
                  </div>


            </div>








      </div>




      <div class="btn-dark card-body">
            <h5 class="card-title">"ShoutOut" AN EXPERIENCE!</h5>
            <p class="card-text">Share the buried treasures youve found in Boston, post an experience!.</p>
            <a routerLink="/user/:uid/:bid/community/bulletin/post" class="btn btn-primary">ShoutOut!</a>
            <br><hr>
            <div class="text-muted">"Life is the puzzle; that your peace completes.<p></p><i><small>#LightSpeedProVerbs"</small></i></div>      
      </div>
