/* You can add global styles to this file, and also import other style files */
body{
	padding-bottom: 70px;
	background-image: url("./images/LSECUBE3.jpg");
	background-size:  2700px 2700px
}

.sw-noPadding{
	padding: 0;
}

.btn-block+.btn-block {
    margin-top: 0;
}

.logoPadding{
	padding-left: 15px;
	padding-top: 8px;
}

.border-red {
	border-style: solid ;
	border-width: 1px ;
	border-color: #dc3545 ;
	border-radius: 10px 40px;
}


.border-grey {
	border-style: solid ;
	border-width: 1px ;
	border-color: #6c757d ;
	border-radius: 10px 40px;
}


.border-green {
	border-style: solid ;
	border-width: 1px ;
	border-color: ##28a745 ;
	border-radius: 10px 40px;
}


.dropdown:hover .dropdown-menu {
	display: block;
	border-style: none;
}


.dropdown-item:hover .dropdown-menu {
	display: block;
	border-style: none;
}

.vertical-mid{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.column-content{
	position: relative;
}

.dropdown-menu {
	margin-top: 0;
}


.nav-text{
	vertical-align: center;
	color: red;
}


.upper-header{
	max-height: 35px;
	
}

.bg-white{
	background: white;
}


.btn{
	border-radius: 10px 40px;
}
