<div class="row">
<div class="col-md-4">

<div class="containerpermission container">
  <img src="../../../images/IMAG1.jpg" alt="Avatar" class="image responsive">
  <div class="bg-danger overlay">
    <div data-toggle="collapse" data-target="#visions" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer text"><i>community.</i></div>
  </div>
</div></div>

<div class="col-md-4">

<div class="containerpermission container">
  <img src="../../../images/BAY.jpg" width="auto" alt="Avatar" class="image responsiveOne">
  <div class="bg-secondary overlay">
    <div data-toggle="collapse" data-target="#visionstoo" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer text"><i>arts.</i></div>
  </div>
</div></div>

<div class="col-md-4">

<div class="containerpermission container">
  <img src="../../../images/IMAG3.jpg" alt="Avatar" class="image responsiveTwo">
  <div class="bg-success overlay">
    <div data-toggle="collapse" data-target="#visionsthree" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer text"><i>resource.</i></div>
  </div>
</div></div>
</div>

<br>





<div class="collapse" id="visionsfour">
	<div class="row">
		<div class="col-md-5 column-content">
			<br>
			<br>
			<h6  class="display-4 vertical-mid"><small class="text-muted">LSE</small><i class="">.vision</i>  |</h6>
		</div> 
		<div  align="left" class="col-md-7">		
			<hr><h6 class="textbordermiddle text-left">Lightspeed is a resource for arts that inspire community. We use the power of art to promote culture, “love” and “light”. Our work builds community, inspires healthy lifestyles and supports the business of art.  Our service model is currently under construction but please explore this abbreviated site and discover the great people, creativity and resources we have to offer.  Love and Light."<i data-toggle="collapse" data-target="#visionsfour" aria-expanded="false" aria-controls="collapseExample" class="cursor-pointer float-right far fa-window-close"></i></h6><hr>
		</div>
	</div>
</div>





<div class="bg-danger collapse" id="visions">	
<div class="bg danger row">
		<div class="header-center col-md-5 bg-danger ">	
			<h6 class="visionsfont bg-danger display-4 vertical-mid"><small>COMMUNITY</small><i class="cream-color">.focus</i> |</h6>
		</div>  
		<div  align="left" class="textbordermiddle text-left bg-danger col-md-7">		
			<hr><h6 class="textbordermiddle text-left visionsfont">People are better together and everyone gains in exchanges where people feel safe to share life. We measure our success based on our ability to create places where life, culture and diversity can thrive. LSE is diligently and creatively working to make it easy for people to build community around experiences, common interests, business, and events.  Checkout our Vlog Pages and be inspired by the action or checkout our word of mouth feed to share your world and find activities others recommend in world's near you."  <i data-toggle="collapse" data-target="#visions" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer float-md-right far fa-window-close"></i></h6><hr>
		</div>
	</div>
</div>


<div class="bg-secondary collapse" id="visionstoo">			
			<div class="bg-secondary row">
		<div class="bg-secondary header-center col-md-5">	
			<h5 class="display-4 visionsfont vertical-mid"><small>ARTS</small><i class="cream-color">.driven</i> |</h5>
		</div> 
		<div  align="left" class="textbordermiddle bg-secondary col-md-7">		
			<hr><h6 class="textbordermiddle text-left visionsfont">“Art is life itself” and “there is no action void of art”. To LSE this says art is not just something we enjoy, it is a fundamental part of life and survival.  Not only do we want to promote the art of your life, we want to help you appreciate more art in your life through connections to events, businesses and individuals creating ways for you to discover, experience and patronize content producers.  Checkout our events and gift shop page and appreciate the art."  <i data-toggle="collapse" data-target="#visionstoo" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer float-md-right far fa-window-close"></i></h6><hr>
		</div>
	</div>
</div>

<div class="bg-success collapse" id="visionsthree">			
			<div class="bg-success row">
		<div class="bg-success col-md-5 header-center">	
			<h5 class="display-4 visionsfont vertical-mid"><small>RESOURCE</small><i class="cream-color">.full</i> |</h5>
		</div> 
		<div align="left" class="hrtwo textbordermiddle col-md-7">		
			<hr><h6 class="textbordermiddle text-left visionsfont">the core of LSE revolves around community.  We not only want to see people benefit from cooperation, but we also believe teamwork is the best model for individual success. but as a company we want to be a model of cooperation and team spirit.  We believe our individual success in the art world does not compete with our commitment to support the arts.  In this way we take the success of the arts, the development of culture.  By honoring small sacrifices"  <i data-toggle="collapse" data-target="#visionsthree" aria-expanded="farse" aria-controls="collapseExample" class="cursor-pointer float-md-right far fa-window-close"></i></h6><hr>
		</div>
	</div>